@model Project.Models.Register_Data

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Register</title>
    <meta name="description" content="description">
    <meta name="author" content="Evgeniya">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="~/Res/plugins/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
    <link href="~/Res/css/style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
            <script src="http://getbootstrap.com/docs-assets/js/html5shiv.js"></script>
            <script src="http://getbootstrap.com/docs-assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container-fluid">
        <div id="page-login" class="row">
            <div class="col-xs-12 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                <div class="text-right">
                    <a href="Login" class="txt-default">Already have an account?</a>
                </div>
                @using (Html.BeginForm())
                {
                <div class="box">
                    <div class="box-content">
                        <div class="text-center">
                            <h3 class="page-header">Register</h3>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Primer Nombre</label>
                            @Html.TextBoxFor(x => x.First_Name, new { @class = "form-control", type = "text" })
                        </div>
                        <div class="form-group">
                            <label class="control-label">Segundo Nombre</label>
                            @Html.TextBoxFor(x => x.Second_Name, new { @class = "form-control", type = "text" })
                        </div>
                        <div class="form-group">
                            <label class="control-label">Primer Apellido</label>
                            @Html.TextBoxFor(x => x.First_Surname, new { @class = "form-control", type = "text" })
                        </div>
                        <div class="form-group">
                            <label class="control-label">Segundo Apellido</label>
                            @Html.TextBoxFor(x => x.Second_Surname, new { @class = "form-control", type = "text" })
                        </div>
                        <div class="form-group">
                            <label class="control-label">E-mail</label>
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", type = "email" })
                        </div>
                        <div class="form-group">
                            <label class="control-label">Fecha de Ingreso</label>
                            @Html.TextBoxFor(x => x.Date_In, new { @class = "date-picker", type = "date" })
                        </div>
                        <div class="form-group">
                            <label class="control-label">Password</label>
                            @Html.TextBoxFor( x => x.Password ,new {@class="form-control", name="pass1", id="pass1", type="password"})
                        </div>
                        <div class="form-group">
                            <label class="control-label">Repeat Password</label>
                            @Html.TextBoxFor(x=>x.RePassword,new{ @class="form-control", name="pass2" ,id="pass2" ,onkeyup="checkPass(); return false;", type="password"})
                            <span class="confirmMessage" id="confirmMessage"></span>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" checked> I want to receive Notifications
                                <i class="fa fa-square-o small"></i>
                            </label>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                        @Html.ValidationSummary()
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
    <script src="~/Res/js/devoops.js"></script>
</body>
</html>
